<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!-- 클래스 별명 설정 -->
    <typeAliases>
        <typeAlias type="shop.dto.ShopDTO" alias="shopDTO"/>
        <typeAlias type="voice.dto.VoiceDTO" alias="voiceDTO"/>
        <typeAlias type="notice.dto.NoticeDTO" alias="noticeDTO"/>
        <typeAlias type="notice.dto.NoticeDTO" alias="eventDTO"/>
        <typeAlias type="account.dto.AccountDTO" alias="accountDTO"/>
        <typeAlias type="product.dto.ProductDTO" alias="productDTO"/>
    </typeAliases>
    <!-- SQL mapper 등록 -->
    <mappers>
        <mapper resource="mybatis/mapperSample.xml"/>
        <mapper resource="mybatis/shop-mapper.xml"/>
        <mapper resource="mybatis/voice-mapper.xml"/>
        <mapper resource="mybatis/notice-mapper.xml"/>
        <mapper resource="mybatis/event-mapper.xml"/>
        <mapper resource="mybatis/account-mapper.xml"/>
        <mapper resource="mybatis/product-mapper.xml"/>
    </mappers>
</configuration>
