<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mybatis.product">
		<select id="selectOne" parameterType="java.util.Map" resultType="dto">
			<![CDATA[select * from
			(select rownum rn,tt.* from
			(select * from product order by num asc) tt)
			where rn>=#{startNum} and rn<=#{endNum}]]>
						
		</select>
		
		<select id="selectTotal" resultType="int">
			select count(*) as cnt from product
		</select>
		
		<select id="selectone" parameterType="int" resultType="dto">
			select * from product where num=#{num}
		
		</select>
		
		<insert id="insert" parameterType="dto">
			insert into product values(seq_product.nextval,#{name},#{explain},#{fileName},#{productType})
		
		</insert>
		
		<update id="update" parameterType="int">
		     update product set name=#{name}, explain=#{explain}, fileName=#{fileName}, productType=#{productType} where num=#{num};
		</update>
		
		<delete id="delete" parameterType="int">
			delete board where num=#{num};		
		</delete>
</mapper>